.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .cards-total-container {
} */

/* .cards {
} */

.order-first {
  order: -9999;
  flex-basis: 50%;
  min-width: 50%;
  max-width: 50%;
  flex-grow: 1;
}
