body,
div {
    margin: 0;
}

.App {
    background-color: green;
    min-height: 100vh;
}

.dealer,
.player {
    color: white;
    padding: 10% 2% 5%;
    height: 45%;
    font-weight: bold;
    font-size: x-large;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-style: outline;
}

.face,
.back {
    width: 100px;
    height: 145.2px;
}

.deck {
    position: absolute;
    top: 15px;
    right: 15px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: whitesmoke;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 10%;
}

.game-button {
    width: 45%;
    margin: 0 10px;
    padding: 15px 32px;
    font-weight: bold;
}

.hit {
    background-color: whitesmoke;
}

.stand {
    background-color: whitesmoke;
}