body {
    margin: 0;
}

.App {
    background-color: green;
}

.dealer,
.player {
    color: white;
    padding: 10% 2% 5%;
    font-weight: bold;
    font-size: x-large;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-style: outline;
}

.face {
    width: 100px;
    height: 145.2px;
}