.card img {
  /* border-style: outline;*/
  aspect-ratio: auto;
  height: 150px;
}

.card-amount {
  position: absolute;
  top: 45px;
  left: 30%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  font-size: large;
  font-weight: bold;
  background-color: snow;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.back {
  position: relative;
  display: flex;
  align-self: flex-end;
  margin-right: 20px;
}

.main-container {
  justify-content: space-between !important;
  width: -webkit-fill-available;
  padding-left: 40px;
  height: min-content;
}
