.home-item h2 {
    color: snow;
    font: bolder;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.home-item {
    background-image: url('../../../public/blackJack.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    width: 20em;
    height: 1.5em;
    padding: 5px;
    border-radius: 20px;
}