.my-table {
  background-color: #367c2b;
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
}

.players-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-button {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-height: fit-content;
}

.ready-button {
  background-color: gray;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10%;
}

.order-first {
  order: -9999;
  flex-basis: 50%;
  min-width: 50%;
  max-width: 50%;
  flex-grow: 1;
}
